/*========reset================*/
*,
*:after,
*:before {
	/* webkit/moz unnecessary in new  browsers */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}
html{
	font-size: 1em;
    line-height: 1.4;
    scroll-behavior: smooth;
}
body{
        Font-Family: 'Source Sans Pro', Sans-Serif;
Font-Size: 1em;
}
/*========colors==================*/
:root {
  --white: #ffffff;
  --basegrey:rgb(195, 195, 195);
  --txtgrey:rgb(83, 80, 80);
  --infonumbers:rgb(149, 144, 144);
  --infonumbersbg:rgb(161, 159, 159);
  
}

/*=========fonts==================*/

@font-face {
	font-family: "blackbird";
	src: url(../fonts/blackbird/Blackbird.otf);
}
.bb{
   font-family: "blackbird"; 
}
/*========Helpers================*/

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

  .full-width { 
	padding-right:0;padding-left:0;padding-top:0;
	margin-right:-15px;margin-left:0px;

  }

  .center-txt{
	  text-align: center;
  }

  .placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
  }


  
  
/*========general settings================*/

.navbar-nav .nav-item .nav-link {
    cursor: pointer;
    color: #ffb82f;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #ffffff;
}
.featurette-divider{
	margin-top: 3.5em;
	margin-bottom: 3.5em;
}
.gallery_img
{
    margin-bottom: 1em;
}
.introtext{
	margin-left: 15px;
	margin-right: 15px;;
}
header{
    margin-top: 3.5em;
}

.shrimproyalelogo {
	display: block;
	width: 100%;
	height: 100%;
    padding: calc(1em + 3em * ((100vh - 320px) / 680));;
    padding-bottom: 0;
}
h1{
   Font-Family: 'Playfair Display', Serif;
    font-size: calc(3em + 6 * ((100vw - 320px) / 680));

line-height:0.9em;

}

h2{
   Font-Family: 'Playfair Display', Serif;
   font-size: calc(2em + 6 * ((100vw - 320px) / 680));
line-height:1em;
}
p{
    letter-spacing: 0.05em;
}
.genus{
color: rgb(112, 155, 211);
cursor: pointer;
}

.infoshrimp{
    background-image: url("../images/cherry.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80% 50%;
    min-height: 20em;
     transition: background 200ms ease-in-out 300ms;

}




@media (min-width: 768px) { 
    .infoshrimp{
        background-position: 50% 50%;
    }
}