/*========reset================*/
*,
*:after,
*:before {
	/* webkit/moz unnecessary in new  browsers */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}
html{
	font-size: 1em;
    line-height: 1.4;
    scroll-behavior: smooth;
}
body{
    Font-Family: 'Source Sans Pro', Sans-Serif;
    Font-Size: 1em;
}
/*========colors==================*/
:root {
  --white: #ffffff;
  --black: #000000;
  --basegrey:rgb(195, 195, 195);
  --txtgrey:rgb(83, 80, 80);
  --infonumbers:rgb(149, 144, 144);
  --infonumbersbg:rgb(161, 159, 159);
  
}



/*========Helpers================*/
/*
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
*/
  .full-width { 
	padding-right:0;padding-left:0;padding-top:0;
	margin-right:-15px;margin-left:0px;

  }

  .center-txt{
	  text-align: center;
  }

 .featurette-img {
	width: 100%;
  }


 /* custom font for svg logo*/
 @font-face {
    font-family: 'Blackbird'; /*a name to be used later*/
    src: url('../fonts/blackbird/Blackbird.woff'); /*URL to font*/
} 
  
/*========general settings================*/

.navbar-nav .nav-item .nav-link {
    cursor: pointer;
    color: #ffffff;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #ffb82f
}
.bb{
    font-family:'Blackbird' ;
}
.featurette-divider{
	margin-top: 3.5em;
	margin-bottom: 3.5em;
}
.gallery_img
{
    margin-bottom: 1em;
}
.introtext{
	margin-left: 15px;
	margin-right: 15px;;
}
header{
    margin-top: 3.5em;
}

.shrimproyalelogo {
	display: block;
	width: 100%;
	height: 100%;
    padding: calc(1em + 3em * ((100vh - 320px) / 680));;
    padding-bottom: 0;
}
svg{
      font-family: 'Blackbird';
}
h1{
   Font-Family: 'Playfair Display', Serif;
    font-size: calc(3em + 6 * ((100vw - 320px) / 680));
    line-height:0.9em;

}

h2{
   Font-Family: 'Playfair Display', Serif;
   font-size: calc(2em + 4 * ((100vw - 320px) / 680));
    line-height:1em;
}
p{
    letter-spacing: 0.05em;
}
img{
    width: 100%;
}
.genus{
    color: rgb(112, 155, 211);
    cursor: pointer;
}

.infoshrimp{
    background-image: url("../images/cherry.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80% 50%;
    min-height: 20em;
     transition: background 200ms ease-in-out 300ms;

}

.featurettelist{
    list-style-type: none;
    padding-left: 0rem;
}
.svid{
    position: relative;
    z-index: 0;
}
.overlayText{
  position: relative;;
    top:-15em;
    left:0;
    z-index:1;
}
   .image-col-big{
        display: none;
    }
    em{
        display: block;
        height: 1em;
    }

@media (min-width: 768px) { 
    .infoshrimp{
        background-position: 50% 50%;
    }
    .image-col{
        display: none;
    }

     .image-col-big{
        display: block;
    }
    .col-count{
        padding-top: 1em;
        column-count: 2;
        column-fill: auto;
         vertical-align: baseline;
    }
    .extraemheight{
        height: 2.5em;
    }
}